@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,900,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333333;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.form__input {
  width: 100%;
  height: 3rem;
  border-radius: 0.625rem;
  padding: 0rem 1.125rem;
  background-color: #fff;
  font-weight: 400;
  font-size: 1.125rem;
}

.form__input::-webkit-input-placeholder {
  color: #828282;
  font-size: 0.875rem;
}

.form__input::-moz-placeholder {
  color: #828282;
  font-size: 0.875rem;
}

.form__input:-ms-input-placeholder {
  color: #828282;
  font-size: 0.875rem;
}

.form__input::-ms-input-placeholder {
  color: #828282;
  font-size: 0.875rem;
}

.form__input::placeholder {
  color: #828282;
  font-size: 0.875rem;
}

.form__input._form-error {
  color: red;
}

.form__input._form-error::-webkit-input-placeholder {
  color: red;
}

.form__input._form-error::-moz-placeholder {
  color: red;
}

.form__input._form-error:-ms-input-placeholder {
  color: red;
}

.form__input._form-error::-ms-input-placeholder {
  color: red;
}

.form__input._form-error::placeholder {
  color: red;
}

.form__error {
  color: red;
  padding: 0.3125rem 1.125rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  border: 1px solid #eee;
  height: 3rem;
  border-radius: 0.625rem;
  padding: 0rem 1.125rem;
  background-color: #fff;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 15px 18px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__content {
  text-align: center;
}

.popup__text {
  padding-top: 20px;
  font-size: 20px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.block__title_big {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.block__title_st {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.block__title span {
  color: #3DDABE;
}

.block__label {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.3611111111;
  text-align: center;
}

.block__label_big {
  font-size: 2.875rem;
  line-height: 1.3695652174;
  text-align: start;
}

.block__line {
  height: 0.25rem;
  background-color: #3DDABE;
  width: 4.375rem;
}

.block__line_big {
  width: 3.125rem;
}

.text {
  font-weight: 500;
  line-height: 1.5;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #3DDABE;
  -webkit-box-shadow: 0rem 1.25rem 1.25rem -0.75rem rgba(61, 218, 190, 0.4);
          box-shadow: 0rem 1.25rem 1.25rem -0.75rem rgba(61, 218, 190, 0.4);
  border-radius: 5.75rem;
  padding: 1.125rem 2.8125rem;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background: #E0E0E0;
  color: #333333;
}

.button_light {
  background: #fff;
  border: 0.125rem solid #3DDABE;
  color: #3DDABE;
}

.button_f {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3571428571;
  padding: 0.9375rem 2.375rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 5.625rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 300;
  text-transform: uppercase;
  color: #828282;
  font-size: 2.25rem;
  line-height: 1.5;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  height: 6.25rem;
  background-color: #213C37;
}

.simply {
  padding-top: 5.875rem;
}

.simply__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.simply__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 120%;
  left: 57%;
  bottom: 0;
  background: url("../img/simply/maskgroup.svg") 0 100% no-repeat, url("../img/background.svg") 0 100% no-repeat;
}

.simply__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 90%;
  width: 100%;
  height: 120%;
  background: #3DDABE url("../img/simply/group.svg") 0 0 repeat;
}

.simply__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.simply__content {
  -webkit-box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.3);
          box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.3);
  border-radius: 40px;
  padding: 3.125rem 2.5rem;
}

.simply__block:not(:last-child) {
  padding-bottom: 1.625rem;
}

.simply__text:not(:last-child) {
  padding-bottom: 2.5rem;
}

.simply__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.simply__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  line-height: 1.5;
  color: #BDBDBD;
}

.simply__link:hover {
  color: #333333;
}

.simply__arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.simply__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  z-index: 20;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.simply__image img {
  max-width: 100%;
}

.how {
  -webkit-box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
          box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
}

.how__items {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(17.4375rem, 1fr));
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  row-gap: 0.5rem;
  padding-bottom: 1.25rem;
}

.how__item img {
  border-radius: 1.875rem;
}

.how__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.1875rem;
          flex: 0 0 18.1875rem;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.3611111111;
  color: #E0E0E0;
  text-transform: uppercase;
}

.how__line {
  width: 0.25rem;
  height: 3.125rem;
  background-color: #3DDABE;
}

.how__text {
  font-size: 0.75rem;
  line-height: 1.4166666667;
  font-weight: 500;
  color: #828282;
}

.how__button {
  text-align: center;
}

.about {
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  width: 36%;
  height: 55%;
  right: 0;
  top: 0;
  background: #3DDABE;
  border-radius: 0rem 0rem 0rem 60%;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  z-index: 20;
}

.about__image img {
  max-width: 100%;
  border-radius: 1.875rem;
}

.about__button {
  text-align: start;
}

.services {
  -webkit-box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
          box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
}

.services__items {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(13.6875rem, 1fr));
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 13.6875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__button {
  text-align: center;
}

.item-services__icon {
  background-color: #3DDABE;
  height: 4.1875rem;
  width: 4.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.item-services__icon::before {
  content: "";
  position: absolute;
  height: 4.1875rem;
  width: 4.1875rem;
  border-radius: 50%;
  border: 0.5px solid #2CB49B;
  background: transparent;
  bottom: 0.125rem;
  right: 0.125rem;
}

.item-services__icon img {
  max-width: 100%;
  height: 2.25rem;
}

.item-services__icon:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.item-services__title {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.025em;
}

.item-services__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.item-services__text {
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 138.5%;
  color: #828282;
}

.testimonials {
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: -9.0625rem;
  top: 0;
  background: url("../img/background.svg") 0 97% no-repeat;
}

.testimonials::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 80%;
  top: 0;
  background-color: #3DDABE;
}

.testimonials__block__title {
  z-index: 30;
}

.testimonials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.testimonials__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  z-index: 20;
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.25rem 3.125rem -0.9375rem rgba(29, 117, 101, 0.2);
          box-shadow: 0rem 1.25rem 3.125rem -0.9375rem rgba(29, 117, 101, 0.2);
  border-radius: 1.875rem;
}

.testimonials__button {
  text-align: center;
}

.item-testimonials__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

.item-testimonials__title:not(:last-child) {
  padding-bottom: 0.75rem;
}

.item-testimonials__text {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  color: #828282;
}

.item-testimonials__text:not(:last-child) {
  padding-bottom: 0.75rem;
}

.item-testimonials__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4375rem;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F2F2F2;
  border-radius: 1.875rem;
  gap: 1.875rem;
}

.contact__map-ibg {
  padding-bottom: 40.8771929825%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36.8421052632%;
          flex: 0 0 36.8421052632%;
}

.contact__map-ibg img {
  max-width: 100%;
  overflow: hidden;
}

.contact__content {
  padding: 0rem 1.25rem;
}

.contact__block {
  padding-bottom: 1.6875rem;
  text-align: left;
}

.contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.875rem;
  gap: 1.25rem;
}

.contact__form {
  padding-right: 1.25rem;
  border-right: 0.25rem solid #E0E0E0;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 2.3125rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #4F4F4F;
  padding-right: 1.875rem;
}

.form__input:focus::-webkit-input-placeholder {
  color: #333333;
}

.form__input:focus::-moz-placeholder {
  color: #333333;
}

.form__input:focus:-ms-input-placeholder {
  color: #333333;
}

.form__input:focus::-ms-input-placeholder {
  color: #333333;
}

.form__input:focus::placeholder {
  color: #333333;
}

.form__send {
  padding-top: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 1.375;
  color: #2A796B;
}

.info-contact__mail {
  padding-left: 2.75rem;
  position: relative;
}

.info-contact__mail::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.4375rem;
  left: 0;
  background: url("../img/contact/mail.svg") 0 0 no-repeat;
}

.info-contact__call {
  padding-left: 2.75rem;
  position: relative;
}

.info-contact__call::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.4375rem;
  left: 0;
  background: url("../img/contact/call.svg") 0 0 no-repeat;
}

.info-contact__location {
  padding-left: 2.75rem;
  position: relative;
}

.info-contact__location::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.4375rem;
  left: 0;
  background: url("../img/contact/location.svg") 0 0 no-repeat;
}

@media (min-width: 73.125em) {
  .simply__container {
    gap: 6.375rem;
  }

  .simply__actions {
    gap: 1.875rem;
  }

  .how {
    padding-top: 3.125rem;
  }

  .how {
    padding-bottom: 3.125rem;
  }

  .how__block {
    padding-bottom: 3.125rem;
  }

  .how__content {
    gap: 3.125rem;
  }

  .how__button {
    padding-top: 3.125rem;
  }

  .how__button {
    padding-bottom: 3.125rem;
  }

  .about {
    padding-top: 3.125rem;
  }

  .about {
    padding-bottom: 3.125rem;
  }

  .about__block {
    padding-bottom: 3.125rem;
  }

  .about__body {
    gap: 3.125rem;
  }

  .about__button {
    padding-top: 3.125rem;
  }

  .about__button {
    padding-bottom: 3.125rem;
  }

  .services {
    padding-top: 3.125rem;
  }

  .services {
    padding-bottom: 3.125rem;
  }

  .services__items {
    margin-top: 3.125rem;
  }

  .services__items {
    margin-bottom: 3.125rem;
  }

  .services__items {
    -webkit-column-gap: 4.25rem;
       -moz-column-gap: 4.25rem;
            column-gap: 4.25rem;
  }

  .services__items {
    row-gap: 3.125rem;
  }

  .testimonials {
    padding-top: 3.125rem;
  }

  .testimonials__items {
    padding-top: 4.5rem;
  }

  .testimonials__items {
    padding-bottom: 3.125rem;
  }

  .testimonials__item {
    padding: 1.875rem;
  }

  .contact {
    padding-top: 3.125rem;
  }

  .contact {
    padding-bottom: 3.125rem;
  }

  .contact__block {
    padding-top: 3.125rem;
  }

  .contact__info {
    gap: 2.3125rem;
  }
}

@media (max-width: 20em) {
  .simply__container {
    gap: 1.875rem;
  }

  .simply__actions {
    gap: 0.625rem;
  }

  .how {
    padding-top: 1.25rem;
  }

  .how {
    padding-bottom: 1.25rem;
  }

  .how__block {
    padding-bottom: 1.25rem;
  }

  .how__content {
    gap: 0.625rem;
  }

  .how__button {
    padding-top: 2.5rem;
  }

  .how__button {
    padding-bottom: 1.25rem;
  }

  .about {
    padding-top: 1.25rem;
  }

  .about {
    padding-bottom: 1.25rem;
  }

  .about__block {
    padding-bottom: 1.25rem;
  }

  .about__body {
    gap: 1.25rem;
  }

  .about__button {
    padding-top: 2.5rem;
  }

  .about__button {
    padding-bottom: 1.25rem;
  }

  .services {
    padding-top: 1.25rem;
  }

  .services {
    padding-bottom: 2.5rem;
  }

  .services__items {
    margin-top: 1.25rem;
  }

  .services__items {
    margin-bottom: 2.5rem;
  }

  .services__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .services__items {
    row-gap: 1.25rem;
  }

  .testimonials {
    padding-top: 1.25rem;
  }

  .testimonials__items {
    padding-top: 1.25rem;
  }

  .testimonials__items {
    padding-bottom: 2.5rem;
  }

  .testimonials__item {
    padding: 0.625rem;
  }

  .contact {
    padding-top: 1.25rem;
  }

  .contact {
    padding-bottom: 1.25rem;
  }

  .contact__block {
    padding-top: 1.25rem;
  }

  .contact__info {
    gap: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .testimonials__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 54.25rem) {
  .simply__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .simply__container::before {
    display: none;
  }

  .simply__container::after {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .simply__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .simply__arrow {
    display: none;
  }

  .how__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .how__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }

  .how__line {
    display: none;
  }

  .about::before {
    display: none;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .about__button {
    text-align: center;
  }

  .testimonials::before {
    display: none;
  }

  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contact__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .contact__form {
    border-right: none;
    padding-right: 0rem;
  }
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (gap: clamp( 1.875rem , 0.1808823529rem  +  8.4705882353vw , 6.375rem )) {
    .simply__container {
      gap: clamp( 1.875rem , 0.1808823529rem  +  8.4705882353vw , 6.375rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.1808823529rem  +  8.4705882353vw , 6.375rem )) {
    .simply__container {
      gap: calc(1.875rem + 4.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem )) {
    .simply__actions {
      gap: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem )) {
    .simply__actions {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .how {
      padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .how {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .how {
      padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .how {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .how__block {
      padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .how__block {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 0.625rem , -0.3161764706rem  +  4.7058823529vw , 3.125rem )) {
    .how__content {
      gap: clamp( 0.625rem , -0.3161764706rem  +  4.7058823529vw , 3.125rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.3161764706rem  +  4.7058823529vw , 3.125rem )) {
    .how__content {
      gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem )) {
    .how__button {
      padding-top: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem )) {
    .how__button {
      padding-top: calc(2.5rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .how__button {
      padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .how__button {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .about {
      padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .about {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .about {
      padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .about {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .about__block {
      padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .about__block {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .about__body {
      gap: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .about__body {
      gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem )) {
    .about__button {
      padding-top: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem )) {
    .about__button {
      padding-top: calc(2.5rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .about__button {
      padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .about__button {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .services {
      padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .services {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem )) {
    .services {
      padding-bottom: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem )) {
    .services {
      padding-bottom: calc(2.5rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .services__items {
      margin-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .services__items {
      margin-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem )) {
    .services__items {
      margin-bottom: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem )) {
    .services__items {
      margin-bottom: calc(2.5rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.1205882353rem  +  5.6470588235vw , 4.25rem )) or (column-gap: clamp( 1.25rem , 0.1205882353rem  +  5.6470588235vw , 4.25rem ))) {
    .services__items {
      -webkit-column-gap: clamp( 1.25rem , 0.1205882353rem  +  5.6470588235vw , 4.25rem );
         -moz-column-gap: clamp( 1.25rem , 0.1205882353rem  +  5.6470588235vw , 4.25rem );
              column-gap: clamp( 1.25rem , 0.1205882353rem  +  5.6470588235vw , 4.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.1205882353rem  +  5.6470588235vw , 4.25rem )) or (column-gap: clamp( 1.25rem , 0.1205882353rem  +  5.6470588235vw , 4.25rem ))) {
    .services__items {
      -webkit-column-gap: calc(1.25rem + 3 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(1.25rem + 3 * (100vw - 20rem) / 53.125);
              column-gap: calc(1.25rem + 3 * (100vw - 20rem) / 53.125);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .services__items {
      row-gap: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .services__items {
      row-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .testimonials {
      padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .testimonials {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.0264705882rem  +  6.1176470588vw , 4.5rem )) {
    .testimonials__items {
      padding-top: clamp( 1.25rem , 0.0264705882rem  +  6.1176470588vw , 4.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.0264705882rem  +  6.1176470588vw , 4.5rem )) {
    .testimonials__items {
      padding-top: calc(1.25rem + 3.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem )) {
    .testimonials__items {
      padding-bottom: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.2647058824rem  +  1.1764705882vw , 3.125rem )) {
    .testimonials__items {
      padding-bottom: calc(2.5rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem )) {
    .testimonials__item {
      padding: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem )) {
    .testimonials__item {
      padding: calc(0.625rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .contact {
      padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .contact {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .contact {
      padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .contact {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .contact__block {
      padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .contact__block {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 1.25rem , 0.85rem  +  2vw , 2.3125rem )) {
    .contact__info {
      gap: clamp( 1.25rem , 0.85rem  +  2vw , 2.3125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.85rem  +  2vw , 2.3125rem )) {
    .contact__info {
      gap: calc(1.25rem + 1.0625 * (100vw - 20rem) / 53.125);
    }
}
}